@font-face{
    src: url("/view/font/collegeb.ttf");
}

@font-face{
    src: url("/view/font/Lato-Regular.ttf");
}

@font-face{
    src: url("/view/font/Lato-Bold.ttf");
}

@font-face{
    src: url("/view/font/Teko-Regular.ttf");
}

@font-face{
    src: url("/view/font/Teko-Bold.ttf");
}