@import "fonts.css";

.background{
    -fx-background-color: #C94EC0;
}

.imgBackground{
    -fx-background-color: linear-gradient(to bottom left, reflect, #c94ec0, #4258d0);
    -fx-background-image: url("/view/img/dotLogin.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 10 10;
}

.paneMain{
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-alignment: center;
}

.textLogo{
    -fx-font-family: College;
    -fx-text-fill: linear-gradient(to top left, #5c6f7d, #36434C);
    -fx-font-size: 70px;
}

.textLogin{
    -fx-font-family: Teko;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 40px;
}


.input{
    -fx-padding: 0 0 0 50;
    -fx-background-radius: 40px;
    -fx-background-color: #E6E6E6;

    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 18px;
    -fx-prompt-text-fill: #9D9D9D;
}

.btnLogin{
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 16px;

    -fx-background-radius: 40px;
    -fx-background-color: #57B847;
    -fx-cursor: hand;
}

.btnLogin:hover{
    -fx-background-color: #4ea640;
}

.linkOut{
    -fx-text-fill: #757575;
}