@import "fonts.css";

.background{
    -fx-background-color: #C94EC0;
}

.imgBackground{
    -fx-background-color: linear-gradient(to bottom left, reflect,#C94EC0, #4258D0);
    -fx-background-image: url("/view/img/dot.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 10 10;

}

.paneMain{
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-alignment: center;
}

.textLogo{
    -fx-font-family: College;
    -fx-text-fill: linear-gradient(to top left, #36434C, #36434C);
    -fx-font-size: 70px;
}

.textLogin{
    -fx-font-family: Teko;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 40px;
}

.progress-bar{
    -fx-border-color: #4071F7;
    -fx-background-color: #E2F2FB;
}

.progress-bar > .track{
    -fx-border-color: #4071F7;
    -fx-background-color: #E2F2FB;
}

.progress-bar > .bar{
    -fx-border-color: transparent;
    -fx-background-color: #4071F7;
}