@import "fonts.css";
@import "scrollBar.css";
@import "buttons.css";
@import "waitScreen.css";
@import "panes.css";

.textTitle{
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.lblInfo{
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 20px;
}