@import "fonts.css";
@import "waitScreen.css";
@import "scrollBar.css";
@import "buttons.css";

.root{
    -fx-background-color: #36434C;

    /*-fx-background-color: linear-gradient(to bottom, reflect, WHITE, #4258d0);*/
    /*-fx-background-image: url("/view/img/dotLogin.png");*/
    /*-fx-background-repeat: repeat;*/
    /*-fx-background-size: 10 10;*/
}

.paneBackground{
    -fx-background-color: #EDEDED;
    -fx-alignment: center;

    -fx-background-image: url("/view/img/dotLogin.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 5 5;
}

.paneWhite{
    -fx-background-color: #EDEDED;
    -fx-alignment: center;
}

.paneBlueDark{
    -fx-background-color: #36434C;
    -fx-alignment: center;
}

.paneBlueLight{
    -fx-background-repeat: repeat;
    -fx-background-size: 10 10;
    -fx-background-color: #5c6f7d;
    -fx-alignment: center;
}

.input{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #FFFFFF80;
    -fx-font-size: 24px;
}

.subtitleWhite{
    -fx-text-fill: white;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

#tableSearch{
    -fx-font-family: Lato;
    -fx-padding: 0;
    -fx-background-color: #EDEDED;
    -fx-border-width: 2px;
    -fx-border-color: #36434C;
}

#tableSearch .column-header {
    -fx-background-color: #36434C;
    -fx-font-size: 17px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #36434C;
}

#tableSearch .column-header .label{
    -fx-background-color: transparent;
    -fx-padding: 19 7;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

#tableSearch .table-row-cell {
    -fx-background-color: #EDEDED;
    -fx-border-color: #36434C;
    -fx-border-width: 0 0 2 0;
    -fx-cell-size: 50px;
}

#tableSearch .table-row-cell:empty {
    -fx-border-color: transparent;
}

#tableSearch .table-row-cell:focused .table-column{
    -fx-background-color: #5c6f7d;
    -fx-text-fill: white;
}

#tableSearch .table-cell {
    -fx-font-family: Lato;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
    -fx-font-size: 15px;
    -fx-text-fill: #36434C;
    -fx-padding: 0 10;

}

#tableSearch .filler{

}

#tableItems{
    -fx-font-family: Lato;
    -fx-padding: 0;
    -fx-background-color: #EDEDED;
    -fx-border-width: 2px;
    -fx-border-color: #36434C;
}

#tableItems .column-header {
    -fx-background-color: #5c6f7d;
    -fx-font-size: 17px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #36434C;
}

#tableItems .column-header .label{
    -fx-background-color: transparent;
    -fx-padding: 19 7;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

#tableItems .table-row-cell {
    -fx-background-color: #EDEDED;
    -fx-border-color: #36434C;
    -fx-border-width: 0 0 2 0;
    -fx-cell-size: 50px;
}

#tableItems .table-row-cell:empty {
    -fx-border-color: transparent;
}

#tableItems .table-row-cell:focused .table-column{
    -fx-background-color: #5c6f7d;
    -fx-text-fill: white;
}

#tableItems .table-row-cell:focused .inputDiscount{
    -fx-text-fill: white;
}

#tableItems .table-cell {
    -fx-font-family: Lato;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
    -fx-font-size: 15px;
    -fx-text-fill: #36434C;
    -fx-padding: 0 10;

}

#tableItems .filler{
    -fx-background-color: #5c6f7d;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #36434C;
}

.inputDiscount{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-font-family: Lato;
    -fx-font-size: 15px;
    -fx-text-fill: #36434C;
}

.inputDiscount:focused{
    -fx-border-color: #36434C;
}

.paneMenuLogo{
    -fx-opacity: 0.5;
}

.textLogo{
    -fx-font-family: College;
    -fx-text-fill: linear-gradient(to top left, #5c6f7d, #36434C);
    -fx-font-size: 100px;
}

.textBold{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 13px;
}

.textNormal {
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 13px;
}

.textBoldSmall{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 18px;
}

.textNormalSmall{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 18px;
}

.textBoldBig{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 50px;
}

.textNormalBig{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 50px;
}


/*

#tableProduct .table-cell {
	-fx-border-color: transparent;
	-fx-alignment: center-left;
	-fx-font-size: 12px;
	-fx-padding: 0;

	-fx-text-overrun: clip;
}



 */