@import "fonts.css";
@import "waitScreen.css";

.root{
    -fx-background-color: #36434C;

    /*-fx-background-color: linear-gradient(to bottom, reflect, WHITE, #4258d0);*/
    /*-fx-background-image: url("/view/img/dotLogin.png");*/
    /*-fx-background-repeat: repeat;*/
    /*-fx-background-size: 10 10;*/
}

.paneBackground{
    -fx-background-color: #EDEDED;
    -fx-alignment: center;

    -fx-background-image: url("/view/img/dotLogin.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 5 5;
}

.paneWhite{
    -fx-background-color: #EDEDED;
    -fx-alignment: center;
}

.paneBlueDark{
    -fx-background-color: #36434C;
    -fx-alignment: center;
}

.paneBlueLight{
    -fx-background-repeat: repeat;
    -fx-background-size: 10 10;
    -fx-background-color: #5c6f7d;
    -fx-alignment: center;
}

.btnBlue{
    -fx-background-color: #5c6f7d;
    -fx-cursor: hand;
}

.btnBlue:hover{
    -fx-background-color: #36434C;
}

.btnRed{
    -fx-background-color: #AA2222;
    -fx-border-color: #772222;
    -fx-border-width: 2px;
    -fx-cursor: hand;

    fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.btnRed:hover{
    -fx-background-color: #7d2222;
}

.btnGreen{
    -fx-background-color: #22AA22;
    -fx-border-color: #227722;
    -fx-border-width: 2px;
    -fx-cursor: hand;

    fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.btnGreen:hover{
    -fx-background-color: #227722;
}

.btnText{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.input{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #FFFFFF80;
    -fx-font-size: 24px;
}

.subtitleWhite{
    -fx-text-fill: white;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
}

#tableItems{
    -fx-font-family: Lato;
    -fx-padding: 0;
    -fx-background-color: #EDEDED;
    -fx-border-width: 2px;
    -fx-border-color: #36434C;
}

#tableItems .column-header {
    -fx-background-color: #5c6f7d;
    -fx-font-size: 17px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #36434C;
}

#tableItems .column-header .label{
    -fx-background-color: transparent;
    -fx-padding: 19 7;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

#tableItems .table-cell {
    -fx-font-family: Lato;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
    -fx-font-size: 15px;
    -fx-text-fill: #36434C;
    -fx-padding: 0 10;

}

.paneMenuLogo{
    -fx-opacity: 0.5;
}

.textLogo{
    -fx-font-family: College;
    -fx-text-fill: linear-gradient(to top left, #5c6f7d, #36434C);
    -fx-font-size: 100px;
}

.textBold{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 13px;
}

.textNormal {
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 13px;
}

.textBoldSmall{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 18px;
}

.textNormalSmall{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 18px;
}

.textBoldBig{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: #36434C;
    -fx-font-size: 50px;
}

.textNormalBig{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-text-fill: #36434C;
    -fx-font-size: 50px;
}