@import "fonts.css";

.root{
    -fx-background-color: linear-gradient(to bottom, reflect, WHITE, #4258d0);
    -fx-background-image: url("/view/img/dotLogin.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 10 10;
}

.paneWhite{
    -fx-background-radius: 10px;
    -fx-background-color: white;
    -fx-alignment: center;
}

.paneBlue{
    -fx-background-repeat: repeat;
    -fx-background-size: 10 10;
    -fx-background-color: #4258d0;
    -fx-background-radius: 10px;
    -fx-border-color: #353b87;
    -fx-border-radius: 10px;
    -fx-alignment: center;
}

.borderRightBlue{
    -fx-border-color: #353b87;
    -fx-border-width: 0 1 0 0;
}

.input{
    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-padding: 0;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #FFFFFF80;
    -fx-font-size: 24px;
}

.subtitleWhite{
    -fx-text-fill: white;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: center;
}


.btnPaneRight, .btnPaneLeft{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.btnPaneRight{
    -fx-background-radius: 0px 9px 9px 0px;
}

.btnPaneLeft{
    -fx-background-radius: 9px 0px 0px 9px;
}

.btnPaneRight:hover, .btnPaneLeft:hover{
    -fx-background-color: #00000070;
}

.btnText{
    -fx-background-color: transparent;
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}