@import "fonts.css";
@import "scrollBar.css";
@import "buttons.css";
@import "waitScreen.css";
@import "panes.css";

.textTitle{
    -fx-font-family: Lato;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.input{
    -fx-background-color: transparent;
    -fx-border-color: #777700;
    -fx-border-width: 0 0 2;
    -fx-padding: 0 10;

    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #AAAA22;
}

#tableSchedule{
    -fx-font-family: Lato;
    -fx-padding: 0;
    -fx-background-color: #EDEDED;
    -fx-border-width: 2px;
    -fx-border-color: #36434C;
}

#tableSchedule .column-header {
    -fx-background-color: #5c6f7d;
    -fx-font-size: 20px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #36434C;
}

#tableSchedule .column-header .label{
    -fx-background-color: transparent;
    -fx-padding: 10 7;
    -fx-alignment: center-left;
    -fx-text-fill: white;
}

#tableSchedule .activated {
    -fx-background-color: #EDEDED;
    -fx-border-color: #36434C;
    -fx-border-width: 0 0 2 0;
    -fx-cell-size: 50px;
}

#tableSchedule .disabled{
    -fx-background-color: #5c6f7d;
    -fx-border-color: #36434C;
    -fx-border-width: 0 0 2 0;
    -fx-cell-size: 50px;
}

#tableSchedule .table-row-cell {
    -fx-background-color: #EDEDED;
    -fx-border-color: #36434C;
    -fx-border-width: 0 0 2 0;
    -fx-cell-size: 50px;
}

#tableSchedule .table-row-cell:empty {
    -fx-border-color: transparent;
}

#tableSchedule .table-row-cell:focused .table-column{
    -fx-background-color: #EDEDED;
}

#tableSchedule .table-cell {
    -fx-font-family: Lato;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
    -fx-font-size: 15px;
    -fx-text-fill: #36434C;
    -fx-padding: 0 10;

}

#tableSchedule .filler{
    -fx-background-color: #5c6f7d;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #36434C;
}

#tableSchedule .placeholder{
    -fx-font-family: Lato;
    -fx-font-size: 20px;
    -fx-text-fill: #36434C;
    -fx-font-weight: bold;
}

.textBold{
    -fx-padding: 0 10;

    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: #36434C;
    -fx-alignment: center-right;
}