<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>

        <!--Banco Local-->
        <property name="hibernate.connection.url">jdbc:sqlite:banco.db</property>
        <!--<property name="hibernate.connection.username">mercury_terminal</property>-->
        <!--<property name="hibernate.connection.password">coala472</property>-->
        <property name="show_sql">true</property>

        <mapping resource="hbm/Acesses.hbm.xml"/>
        <mapping resource="hbm/CashMovements.hbm.xml"/>
    </session-factory>
</hibernate-configuration>